{% extends 'base.html' %}

{% block content %}
   <div class="container my-5">

       <h1 class="text-center text-muted">Huddle (the Django dictionary)</h1>
       <div class="row mt-5">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <form method="POST">
                    {%csrf_token%}
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Search for a word</span>
                        <input type="text" name='search_word' class="form-control" placeholder="Search word" aria-label="word" aria-describedby="basic-addon1">
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type='submit'>Search</button>
                        
                      </div>
                </form>
                
            </div>
            <div class="col-md-2">


            </div>
       </div>
       {% if method == 'GET' %}
       <div class="row mt-4 text-center">
           <div class="col-md-3">

           </div>
           <div class="col-md-6">
                <div class="word_box container">
                    <h3 class="mb-2">Word of the day</h3>
                    <h4 class="mb-2">"{{word}}"</h4>
                    <p class="mb-2">
                        Definitions : {{definition}}
                    </p> 
            </div>
        </div>
           <div class="col-md-3"></div>
       </div>
       {%endif%}

       {% if error %}
        <h3 class='mt-4 text-center'>{{error}}</h3>       
       {% endif %}
      
        {% if method == 'POST' %}
       <div class="row mt-5">
           <div class="col-md-2">

           </div>
           <div class="col-md-8">
            <h2>
                Search result
            </h2>
            <div class="search_word row">
                <div class="col-md-6 d-flex justify-content-between align-items-center mt-3">
                 <h5>
                     {{word}}
                 </h5>
                 <div class="pronounication">
                     <h6>
                        pronunciation: {{pronunciation.all}}
                     </h6>
                 </div>
                </div>
                
            </div>
            {% for result in results %}
            
            
            <div class="definitions mt-3">
                <h6>
                    Definitions:
                </h6>

                <p>
                    {{result.definition}}
                </p>
            
            </div>

            <div class="examples mx-5">
                {% if result.examples  %}
                <h6>
                    Examples:
                </h6>
                {% for example in result.examples %}
                <p>
                    {{example}}
                </p>
                {% endfor %}
                {% endif %}

                <div class="row">
                {% if result.synonyms %}
                <div class="col-md-10 mt-3 mb-5">
                    <h6>Synomyms: </h6>
                    
                    <div class="synomyms d-flex  align-items-center">
                        {% for synonym in result.synonyms %}
                        <button class="btn btn-secondary mx-2">{{synonym}}</button>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
            </div>
            {% endfor %}
            
            
           </div>
           <div class="col-md-2">

           </div>
       </div>
       {% endif %}
       
   </div>
{% endblock content %}

